default:
    autoload: tests/contexts
    suites:
        home-owner:
            contexts:
                - HomeOwnerContext
            filters:
                tags: "@home-owner && @potential-buyer"
#        home-owner-ui:
#            contexts:
#                - WebHomeOwnerContext
